#form{
    border:5px solid; 
    border-radius:40px;
border-color: blueviolet;
margin: 20% 20%;
padding:2% 2%;
}

#table{
    border:none;
    padding:10% 10%;
    margin:10% 10%;
}
    th,td{
        border:1px solid;
        padding:1%  1%;
        margin:10% 10%;
    }


    



